.confirm_table{
  width: auto;
  height:auto;
  text-align: center;
}
.confirm_table_list{
  display:inline-block;
  width: 700px;
  height: auto;
  border-style:solid;
}
.confirm_table_list p{
  font-style: normal;
  font-size: 30px;
  text-align: center;
}
.confirm_table_list ul{
  height:40px;
}
.confirm_table_list ul li{
  width:32%;
  height:40px;
  float:left;
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  display: inline;
  line-height: 40px;
}
.color{
  background-color: #1C1C1C;
  color: white;
}
.right {
  width: 300px;
  text-align: center;
  margin-left: 220px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.right a{
  margin-right:35px;
}
button {
    Xbackground-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    Xmargin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
button:hover {
    background-color: #555555;
    color: white;
}
